@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
background: linear-gradient(rgba(19, 204, 224),rgb(19, 204, 224));
font-family: 'Roboto', sans-serif;
}
.container{
    background-color: whitesmoke;
    padding: 2rem;

}
#dasboard .container{
    border-top: 1px solid #222;
}
.list-group .list-group-item{
    background-color: inherit;
}
 #raport-btn{
    background: linear-gradient(rgb(2, 54, 59),rgb(21, 124, 136));

}
#login{
    height: 100vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.form-group input,#login-btn,#raport-btn,#project,#activity{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
#login-btn{
background: linear-gradient(rgb(11, 119, 241),rgb(5, 165, 66));
width: 12rem;
}

#boxes div{
    border: 2px solid #e1e1e1;
    height: 230px;
    padding: .5rem;
    box-shadow: 2px 4px 3px #322;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: rgb(234, 236, 229);
}
#boxes div i{
    color: red;
}
